.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: unset;
}
table {
    max-width: 91%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1066px;
}